<%- include("partials/header"); -%>

<div class="container jumbobox">
    <div class="jumbotron">
        <h1>Bienvenido al Sistema de Control de Equipos</h1>
    </div>
</div>




<%- include("partials/footer"); -%>