<%- include("partials/header"); -%>

<div class="container jumbobox">
    <div class="jumbotron">
        <h1>Bienvenido al Sistema de Control de Equipos</h1>
    </div>
</div>

<div class="container mt-4">
    <h2>Últimos Movimientos de Inventario</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Equipo</th>
                <th>Tipo de Movimiento</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán los datos dinámicamente usando EJS -->
        </tbody>
    </table>
</div>



<%- include("partials/footer"); -%>